
/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

 .pure-menu-heading.logo {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
 }

 /*TODO: not centered*/
 .header.logo {
   width: 3em;
 }


 /*
   Null everything when logo starts to flow into text
  */
 @media (max-width: 60em) {
   .pure-menu-heading.logo {
     position: relative;
     top: 0;
     left: 0;
     margin-right: 0;
     transform: translate(0, 0);
   }

 }

a.social:link,
a.social:visited,
a.social:hover,
a.social:active {
  text-decoration: none;
  color: white;
}

i.size-21 {
  font-size: 1.5em;
}

.home-menu {
    position: relative;
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    z-index: 2;
}
.home-menu {
  font-family: 'Helvetica';
  background: rgba(160, 176, 193, 0.65);
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #ffffff;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

.pure-menu-heading.v-link-active.logo {
  padding: 0;
  margin: 0;
}

.pure-menu-list.social {
  float: right;
}


@media (min-width: 48em) {
  .home-menu {
      text-align: left;
  }
  .home-menu ul {
      float: left;
  }

  .pure-menu.social {
      float: right;
  }
}
