<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading logo" v-link="{ path: '/' }"><img class="header logo" src="http://res.cloudinary.com/jefe-io/image/upload/v1447273038/epic_logo_black_optimized_uojzqz.svg" alt="" /></a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a v-link="{ path: '/' }" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a v-link="{ path: '/collection' }" class="pure-menu-link">Collection</a></li>
            <li class="pure-menu-item"><a v-link="{ path: '/about' }" class="pure-menu-link">About</a></li>
            <!-- <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign Up</a></li> -->
        </ul>
    </div>
