<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">

  <ul class="pure-menu-list">
    <!-- <li class="pure-menu-item pure-menu-selected"><a v-link="{ path: '/' }" class="pure-menu-link">Home</a></li> -->
    <li class="pure-menu-item"><a v-link="{ path: '/leistungen' }" class="pure-menu-link">Leistungen</a></li>
    <li class="pure-menu-item"><a v-link="{ path: '/referenzen' }" class="pure-menu-link">Referenzen</a></li>
    <li class="pure-menu-item"><a v-link="{ path: '/kontakt' }" class="pure-menu-link">Kontakt</a></li>
    <li class="pure-menu-item"><a v-link="{ path: '/kontakt' }" class="pure-menu-link">Partner</a></li>
    <!-- <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign Up</a></li> -->
  </ul>
  <a class="pure-menu-heading logo" v-link="{ path: '/' }"><img class="header logo" src="http://res.cloudinary.com/jefe-io/image/upload/v1447273038/epic_logo_black_optimized_uojzqz.svg" alt="" /></a>

</div>
<!-- <div class="pure-menu pure-menu-horizontal pure-menu-fixed social">
  <ul class="pure-menu-list social">

    <li class="pure-menu-item"><a v-link="{ path: '/' }" class="pure-menu-link">M</a></li>
    <li class="pure-menu-item"><a v-link="{ path: '/' }" class="pure-menu-link">FB</a></li>
    <li class="pure-menu-item"><a v-link="{ path: '/' }" class="pure-menu-link">I</a></li>

  </ul>
</div> -->
