<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">

  <ul class="pure-menu-list">
    <!-- <li class="pure-menu-item pure-menu-selected"><a v-link="{ path: '/' }" class="pure-menu-link">Home</a></li> -->
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a v-on:click="jump('leistungen')" id="menuLink1" class="pure-menu-link">Leistungen</a>
            <ul class="pure-menu-children leistungen">
                <li class="pure-menu-item"><a v-on:click="jump('Eventmarketing')" class="pure-menu-link">Eventmarketing</a></li>
                <li class="pure-menu-item"><a v-on:click="jump('POS')" class="pure-menu-link">POS</a></li>
                <li class="pure-menu-item"><a v-on:click="jump('Vertrieb')" class="pure-menu-link">Vertrieb</a></li>
                <li class="pure-menu-item"><a v-on:click="jump('Produktion')" class="pure-menu-link">Produktion</a></li>
            </ul>
        </li>
    <li class="pure-menu-item"><a v-on:click="jump('referenzen')" class="pure-menu-link">Referenzen</a></li>
    <li class="pure-menu-item"><a v-on:click="jump('kontakt')" class="pure-menu-link">Kontakt</a></li>
    <li class="pure-menu-item"><a v-on:click="jump('partner')" class="pure-menu-link">Partner</a></li>
  </ul>
  <a class="pure-menu-heading logo" v-link="{ path: '/' }"><img class="header logo" src="http://res.cloudinary.com/jefe-io/image/upload/c_scale,w_123/v1447353017/epic_logo_EPIC_thin_white_zl854q.png" alt="" /></a>
  <ul class="pure-menu-list social">
    <!-- <li class="pure-menu-item pure-menu-selected"><a v-link="{ path: '/' }" class="pure-menu-link">Home</a></li> -->
    <li class="pure-menu-item"><a href="https://www.facebook.com/epicdevelpomentmarkenkommunikation" class="pure-menu-link"><i class="icon ion-social-facebook size-21"></i></a></li>
    <li class="pure-menu-item"><a href="https://instagram.com/epic_development/" class="pure-menu-link"><i class="icon ion-social-instagram-outline size-21"></i></a></li>
    <li class="pure-menu-item"><a href="mailto:philipp@epic-development.berlin" class="pure-menu-link"><i class="icon ion-ios-email size-21"></i></a></li>
  </ul>
</div>
