<div class="wrapper">
  <div class="main">

    <div class="content slide-container">
      <div class="make-it-container">
        <p class="sub-epic bigger">
          <b>EPIC!DEVELOPMENT</b> - die Inhabergeführte Full Service
        </p>
        <p class="sub-epic block">
            Bisher sind wir in den Bereichen Event-, Fashion &amp; Beauty-, Musik-, Getränke- und Werbefilmindustrie tätig. 2013 konzipiert als reine Eventagentur, entwickelte sich das Projekt EPIC!DEVELOPMENT zu einer gefragten Agentur für Markenkommunikation und Projektmanagement.
        </p>
      </div>
      <div class="">


          <ul class="slides">
            <div v-for="link in links" class="slider-item">
              <input type="radio" name="radio-btn" id="img-{{ $index + 1 }}" checked />
              <li class="slide-container">
              <div class="slide">
                <img src="{{ link }}" />
                  </div>
              <div class="nav">
                <label for="img-{{ $index + 1 === 1 ? links.length : $index + 1 - 1 }}" class="prev">&#x2039;</label>
                <label for="img-{{ $index + 1 +1 }}" class="next">&#x203a;</label>
              </div>
              </li>
            </div>
            <li class="nav-dots">
              <label v-for="link in links" for="img-{{ $index + 1 }}" class="nav-dot" id="img-dot-{{ $index + 1 }}"></label>
            </li>
        </ul>

      </div>
    </div>
  </div>
</div>
