<div class="wrapper">
  <div class="main">

    <div class="content slide-container">
      <div class="make-it-container">
        <p class="sub-epic bigger">
          <b>EPIC!DEVELOPMENT</b> - die inhabergeführte Full Service Dienstleistungsagentur.

        </p>
        <p class="sub-epic block">
          Das Unternehmen sitzt direkt im Herzen der Hauptstadt und somit in der Metropole  des modernen Zeitgeists. Mit innovativen Ideen und nachhaltigen Konzepten begeistert das EPIC! Team nun schon seit 2013. Ursprünglich auf die reine Eventproduktion fokussiert, hat sich das Unternehmen im Laufe der Zeit enorm weiterentwickelt und zusammen mit verlässlichen Partnern das Portfolio erweitert. Qualität vor Quantität ist das Motto, weshalb Epic! Development ausgewählte Projekte aller Art gemeinsam mit dem Kunden zum maximalem Erfolg führt.<br>
          So wurde aus der kleinen aber feinen Eventagentur ein etabliertes Unternehmen für Markenkommunikation und Projektmanagement.
        </p>
      </div>
      <div class="">


          <ul class="slides">
            <div v-for="link in links" class="slider-item">
              <input type="radio" name="radio-btn" id="img-{{ $index + 1 }}" checked />
              <li class="slide-container">
              <div class="slide">
                <img src="{{ link }}" />
                  </div>
              <div class="nav">
                <label for="img-{{ $index + 1 === 1 ? links.length : $index + 1 - 1 }}" class="prev">&#x2039;</label>
                <label for="img-{{ $index + 1 +1 }}" class="next">&#x203a;</label>
              </div>
              </li>
            </div>
            <li class="nav-dots">
              <label v-for="link in links" for="img-{{ $index + 1 }}" class="nav-dot" id="img-dot-{{ $index + 1 }}"></label>
            </li>
        </ul>

      </div>
    </div>
  </div>
</div>
