.imprint.left {
  background: rgba(157, 164, 187, 0.5);
  padding: 1em;
  padding-bottom: 2.5em;
}

.imprint.right {
  padding: 1em;
}

div.imprint.logo {
  height: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*div.imprint.logo > img {
  right: 0;
  bottom: 0;
}*/

div.about > div.imprint.right > hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 80%;
}

.kontakt.partner-link {
  padding: 0.5em;
}

div.about > hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 80%;
}
